@model Timothy_Hsu_MVC.Models.ScrumUser

@{
    ViewData["Title"] = "Index";
    var userList = ViewBag.UserList;
}


<h4>Login</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Index">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label">Who are you?:</label>
                <select asp-for="Id" class="form-control" asp-items="@userList"></select>
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Confirm" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="CreateUser">Not in the list?</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
